@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1C;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Autumn.jpg);
    background-size: cover;
}
.header__list a:hover {
    color: red;  
    transform: scale(1.5); 
    display: inline-block; 
    transition: all 0.3s ease;  
}

a {
    color: blueviolet;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto; 
    padding: 0 15px;  
}

/* Hat */

.header {
    padding: 5px 0;;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
.header__nav {

}
*/
.header__list {
    display: flex;
    gap: 30px;
}

.header__nav a {
    font-size: 14px;
    opacity: 0.5;
    transition: 0.3s;
}

.header__nav a.active {
    opacity: 1;
}

.header__nav a:hover {
    opacity: 0.9;
}
h1 {
    text-align: center;
    font-size: 60px;
    font-family: cursive;
    text-decoration: none;
}


